body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  transition: .6s ease-in-out;
 }
 .register-now-section {
   background-image: url('../img/register-now-bg.png');
   background-size: cover;
   min-height: 50rem;
   height: auto;
   border-radius: 0;
   width: 100%;
   height: 100%;
   padding-top: 1rem;
}
.company-logo{
    width: 137px;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

/*   start form div style  */

.register-form-div{
    width: 500px;
    padding: 50px 15px;
    text-align: center;
    margin: auto;
}
.form-title{
    background-color: #6a3569;
    color: white;
    padding: 20px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 17px;
}
.back-to-home-icon{
    position: relative;
    right: 112px;
    color: white;
}
.form-body{
    background-color: #f2f2f2;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 26px;
}
.input-div{
  position: relative;
  color: #bfbebe;
  font-size: 16px;
}

.form-control{
    display: inline-block;
    border: 1.5px solid #e0e0e0;
    padding: 12px 20px;
    border-radius: 10px;
    transition: .6s ease-in-out;
}
.form-control:focus{
    border: 1.5px solid #ffb5cc;
    border-radius: 10px;
}
.college-div , .university-div{
    display: inline-block;
    width: 47%;
}
.input-div input , .select-div{
  background-color: #f2f2f2;
  /*     border: 1px solid #bfbebe; */
  width: 90%;
  height: auto;
}
.input-icon{
    position: relative;
    right: 40px;
}
select.form-control:not([size]):not([multiple]){height: auto;}
.register-btn{
    margin-top: 1rem;
    background-color: #6a3569;
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
}


/******************** media *************/
@media (max-width: 540px) {
    .register-form-div{
        width: 100%;
    }
    .form-title{
        font-size: 15px;
    }
    .back-to-home-icon{
        position: relative;
        right: auto;
        margin-right: 10px;
    }
    .input-div input, .select-div{
        font-size: 14px;
    }
    .register-btn{
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .college-div, .university-div{
        width: 100%;
    }
    .college-div{
        margin-bottom: 1rem;
    }
}

@media (max-width: 430px) {
    .company-logo{width: 110px;}
    .register-form-div{
        padding: 50px 0px;
    }
    .input-div input, .select-div{width: 100%;}
    .form-body{padding: 26px 20px;}
}
/*         form validation         */
